.nav {
    height: 150px;
    width: 100%;
    background: #6A47F5;
}

.left-nav {
    display: inline-block;
    padding: 20px;
    float: left;
    text-align: left;
}

.icon {
    height: 60px;
    width: 60px;
}

.title {
    color: #fff;
    font-family: 'Overpass';
    font-style: 'normal';
    font-weight: 400;
    margin-top: 20px;
}

.author {
    display: inline-block;
    float: right;
    color: #d8d8d8;
    vertical-align: bottom;
    padding-right: 20px;
    padding-top: 80px;
}